doctype html
html
  head
    include ../../includes/head
    link(rel='stylesheet', href='@static/home/css/index.css')
    script(src='@static/common/js/flexible.min.js')
  body
    .app
      p 测试

    include ../../includes/foot
    script(src='@static/home/js/index.js')
