doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    block title
      title 前端开发工作流
    meta(charset='utf-8')
    meta(name='format-detection', content='telephone=no,email=no')
    meta(name='apple-mobile-web-app-status-bar-style', content='white')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover')
    meta(name='description', content='前端开发工作流之h5页面开发')
    meta(name='keywords', content='前端开发工作流之h5页面开发')
    block meta

    link(rel='stylesheet', href='@assets/common/css/reset.css')
    link(rel='stylesheet', href='@assets/common/css/common.css')
    block css

    //- 阿里的可伸缩布局方案 flexible.js
    script(src='@assets/common/js/flexible.min.js')
  body(ontouchstart)
    block content
    //- 公用页面底部元素
    script(src='@assets/common/js/jquery-3.3.1.min.js')
    script(src='@assets/common/js/common.js')
    block js
